<div class="hpebox">
    <div class="hpebox-title">
        <h3 class="metric-light">
            2. Upload your survey
        </h3>
    </div>
    <div class="hpebox-content">
        <div class="row">
            <div class="col-sm-12 upload-controls js-upload-controls"></div>
        </div>
        <div class="row m-t-lg">
            <div class="col-sm-12">
                <p class="js-upload-status"></p>
                <div class="progress m-t-md">
                    <div class="js-progress-bar progress-bar progress-bar-secondary" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
