<button class="js-add-file btn btn-primary"><i class="fa fa-plus fa-lg m-r-sm"></i>Select File</button>
<button class="js-upload-file btn btn-secondary" disabled><i class="js-upload-file-icon fa fa-cloud-upload fa-lg m-r-sm"></i>Upload</button>
<select class="js-language-select language-select form-control" name="">
    <option value="english">English</option>
    <option value="french">French</option>
    <option value="spanish">Spanish</option>
    <option value="german">German</option>
    <option value="italian">Italian</option>
    <option value="chinese">Chinese</option>
    <option value="portuguese">Portuguese</option>
    <option value="dutch">Dutch</option>
    <option value="russian">Russian</option>
    <option value="czech">Czech</option>
    <option value="turkish">Turkish</option>
</select>
<span class="js-upload-filename m-l-lg"></span><i class="hp-icon hp-close js-filename-remove filename-remove m-l-md hide"></i>
<form class="js-fileupload-form">
    <input id="fileUpload" class="hide js-upload-input" type="file" name="files" />
</form>
