{{#if message}}
    <div class="alert alert-info alert-dismissible" role="alert">
        <button data-dismiss="alert" class="close" type="button">
            <span aria-hidden="true">&times</span>
            <span class="sr-only">Close</span>
        </button>
        {{{message}}}
    </div>
{{/if}}