<div class="hpebox">
    <div class="hpebox-title">
        <h3 class="metric-light">
            1. Prepare
            <i class="analysis-info-icon text-accent hp-icon hp-info m-l-sm" data-toggle="modal" data-target="#uploadInfo"></i>
        </h3>
    </div>
    <div class="hpebox-content">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 m-b-md">
                <p><i>Please note that your survey must adhere to a specific format, click the information icon above for details.</i></p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <button class="js-create-index btn btn-white">
                    <i class="js-create-index-icon fa fa-lg fa-files-o m-r-sm"></i>
                    Create Index
                </button>
                <button type="button" class="js-delete-topics btn btn-alert" data-toggle="modal" data-target="#emptyIndexConfirm">
                    <i class="js-delete-topics-icon fa fa-lg fa-trash-o m-r-sm"></i>
                    Clear Index
                </button>
            </div>
        </div>
        <p class="js-config-status m-t-md"></p>
    </div>
</div>
