<div class="wrapper-content container-fluid container-left container-max wrapper-content-solo">
    <div class="page-content">
        <div class="initial-loading-indicator-container">
            <div class="initial-loading-indicator">
                <i class="fa fa-spinner fa-spin"></i> Loading HPE Net Promoter Score Analytics...
            </div>
        </div>
    </div>
</div>