<div class="middle-box text-center error-animate">
    <h1>{{status}}</h1>
    <h3 class="font-bold">{{error}}</h3>
    <div class="error-desc">
        <p>The server could not complete your request. </p>
        <p>We apologize for the inconvenience. Please try again later.</p>
        <a href="/" class="btn btn-primary m-t">Return to Main Page</a>
    </div>
</div>
